.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
	background: $color__background-content-area;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
	background: $color__background-site-main;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
	padding: $padding__default;
	background: $color__background-widget-area;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
